@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
$font-family: 'Poppins', sans-serif;

body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: hsl(0, 0%, 98%);
}

.Main_head{
    color:hsl(229, 6%, 66%);
    font-family: $font-family;
    width: 50rem;
    margin: auto;
    margin-top: 9rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: normal;

}
.black_head{
    color: hsl(234, 12%, 34%);
    font-family: $font-family;
    font-weight: bold;
}
.content{
    color: hsl(229, 6%, 66%);
    font-family: $font-family;
    font-size: 1.5rem;
    width: 50rem;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}
main.wrapper{
    display: grid;
    place-items: center;
    margin-top: 4rem;
    .border{
        width: 115rem;
        height: 55rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
    }
    .box{
        border-radius: 1rem;
        background-color:  white;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
        position: relative;
    }
    .box:hover{
        cursor: pointer;
        transform: scale(1.05,1.05);
        transition: ease-in-out 1s;
    }
    
    #box-1{
        grid-row: 2/4;
        border-top: 0.6rem solid  hsl(0, 78%, 62%);
    }
    #box-2{
        grid-row: 1/3;
        border-top: 0.6rem solid hsl(180, 62%, 55%);
    }
    #box-3{
        grid-column-start: 3;
        grid-row: 2/4;
        border-top:0.6rem solid hsl(34, 97%, 64%) ;
    }
    #box-4{
        grid-column-start:2 ;
        grid-row:3/5 ;
        border-top: 0.6rem solid hsl(212, 86%, 64%);
    }
    .secondary_head{
        color: hsl(234, 12%, 34%);
        font-family: $font-family;
        margin-top: 3rem;
        margin-left: 3rem;
        font-size: 2rem;
    }
    .secondary_content{
        font-family: $font-family;
        color: hsl(229, 6%, 66%);
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
    
    }
    .images{
        position: absolute;
        right: 3rem;
        bottom: 3rem;
    }
}
@import 'mobile.scss';